.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info > p:nth-of-type(1) {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.info > p:nth-of-type(2) {
  color: #4a4a4a;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.button > button {
  text-transform: capitalize;
  padding: 1rem 11.8rem;
  margin-bottom: 2rem;
}

.signup {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-weight: 700;
  font-size: 1.4rem;
}
