.cyberpaylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #4a4a4a;
  margin-bottom: 19px;
}

.header > p:nth-child(2) {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 3rem;
  color: #4a4a4a;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.button > Button {
  width: 218.62px;
  height: 54.65px;
  border-radius: 0.41rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.signup {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20rem;
  padding-right: 0.5rem;
  color: #4a4a4a;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-weight: 700;
  font-size: 1.4rem;
}

Input {
  margin-bottom: 1rem;
}

.check {
  display: flex;
  margin-top: 1rem;
}

.check > span {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  padding-left: 1rem;
  color: #616161;
  margin-right: 12rem;
}

.forgotlink {
  color: #4a4a4a;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
