.container {
  padding-top: 2rem;
  overflow-x: hidden !important;
  width: 100%;
  padding-right: 10rem;
  @media screen and (max-width: 750px) {
    display: none;
  }
}

/* for the cyberpay Logo */
.log {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
}

/* for the buttonstyle */

.buttonStyle {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 1rem;
}

/* Optional: to add some space between the items */
.docs {
  margin-right: 10px;
}

.burger {
  display: none;

  @media screen and (max-width: 750px) {
    display: flex;
  }
}
