.solid {
  text-align: center;
  background-color: #2f8ed6;

  padding-block: 0.8rem;
  padding-inline: 3rem;
  border: none;
  color: #ffffff;
  /* font-weight: 600;
  font-size: 16px; */
  border: 1px solid #2e99d6;
}

.linear {
  background: linear-gradient(0deg, #2f8ed6, #2f8ed6),
    linear-gradient(109.53deg, #2f8ed6 -7.4%, rgba(15, 40, 60, 0.99) 196.02%);

  width: 100%;
  text-align: center;
  color: white;
  border: none;
  border: 1px solid #2e99d6;
}

.outline {
  text-align: center;
  color: #2e99d6;
  border: 1px solid #2e99d6;
}
