.primary {
  text-align: center;
  background-color: #2f8ed6;
  margin-top: 1rem;
  padding-block: 0.8rem;
  padding-inline: 3rem;
  border: none;
  border-radius: 4.1px;
  color: #ffffff;
  width: 360px;
  height: 55px;
}
