.details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.details > label {
  font-weight: 500;
  size: 16px;
  line-height: 19px;
}

.details > input {
  width: 360px;
  height: 56px;
 
}

input::placeholder {
  padding: 1rem;
  font-weight: 400;
  font-size: 14px;
}
