.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.details > label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #4a4a4a;
}

.inputContainer {
  position: relative;
}

.eye {
  position: absolute;
  top: 2rem;
  right: -14rem;
}

input {
  padding-inline: 1rem;
  border-radius: 4.1px;
  width: 36rem;
  height: 5.6rem;
  font-family: "BRFirma-Medium", sans-serif !important;
  border: 1px solid #dadada;
  margin-bottom: 3px;
}

input::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  color: #9f9f9f;
  padding-left: 1rem;
}

input:focus {
  border: 1px solid #1670be;
}

.error {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

.buttonStyle {
  border: none;
  background: transparent;
}
