.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelop {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  background-color: #eaf2f9;
  height: 76px;
  width: 76px;
  border-radius: 13px;
  margin-left: 9rem;
}

.envo {
  display: flex;
  justify-content: center;
  color: #2f8ed6;
}

div > .check {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

div > .text {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: #4a4a4a;
}

.button {
  display: flex;
  justify-content: center;
}

.button > Button {
  text-transform: capitalize;
  padding: 1rem 8rem;
  margin-bottom: 2rem;
}
