.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p:nth-child(1) {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #4a4a4a;
  text-transform: capitalize;
}

.header > p:nth-child(2) {
  font-weight: 400;
  font-size: 1.6rem;
  color: #4a4a4a;
  text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
}

.button > Button {
  text-align: center;
  text-transform: capitalize;
  border-radius: 0.14rem;
  padding: 1rem 10rem;
  margin-bottom: 2rem;
}

.signup {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-size: 1.4rem;
  font-weight: 700;
}
