.cyberPayLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p:nth-child(1) {
  margin-bottom: 1.9rem;
  font-weight: 700;
  font-size: 2rem;
  color: #4a4a4a;
  text-transform: capitalize;
}

.header > p:nth-child(2) {
  font-weight: 400;
  font-size: 1.6rem;
  color: #4a4a4a;
  margin-bottom: 4rem;
}

.button > Button {
 
 width: 100px;

}

.signUp {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
  margin-right: 0.5rem;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-size: 1.4rem;
  font-weight: 700;
}

.last {
  padding-bottom: 4rem;
}
