.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
  color: #4a4a4a;
  text-transform: capitalize;
}

.header > p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A;
    text-transform: capitalize;
}

.button {
  display: flex;
  justify-content: center;
}

.button > Button {
  text-transform: capitalize;
  border-radius: 4.1px;
  padding: 1rem 8rem;
  margin-bottom: 2rem;
}

.signup{
  font-weight: 400;
  font-size: 14px;
}

.link{
    text-decoration: none;
    color: #2F8ED6;
    font-size: 14px;
}

