.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.GetStarted {
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  padding-left: 2rem;
  padding-top: 2rem;
  margin-bottom: 3px;
}

.information {
  font-size: 18px;
  padding-left: 2rem;
  font-family: Avenir Next;
}

.firstRow {
  padding-top: 5rem;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.secondRow {
  display: flex;
  padding-block: 3rem;
  column-gap: 6rem;
  align-items: center;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.selectStyle {
  width: 36rem;
  height: 5.5rem;
}

footer {
  padding-block: 2rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}
