.container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.typing {
  margin-right: 2rem;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
}

.details {
  margin-left: 2rem;
  margin-top: 2rem;
  @media screen and (min-width: 670px) {
    margin-left: 128px;
    margin-right: 5rem;
  }
}

.details > p {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.check {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.button {
  margin-bottom: 2rem;
}

.end > span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
}

/* for the otherside of the flex */

.futures {
  background-color: #fbfbfb;
  padding-left: 2rem;
  width: 100vw;
  @media screen and (min-width: 768px) {
    background-color: #fbfbfb;
    padding-left: 2rem;
    width: 60%;
    height: 100vh;
  }
}
.futures > p:nth-of-type(1) {
  font-weight: 600;
  font-size: 2.4rem;
  color: #4a4a4a;
  margin-top: 24px;
}

.cycle {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.txt {
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-top: 2.5rem;
  display: flex;
  color: #4a4a4a;
}
.svg {
  margin-top: 3rem;
  display: flex;
  color: blue;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-top: 35rem;
  text-decoration: none;
}
.contact > span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.select {
  padding: 1rem;
  border-radius: 4.1px;
  width: 36rem;
  height: 5.6rem;
  font-family: "BRFirma-Medium", sans-serif !important;
  border: 1px solid #dadada;
  margin-bottom:8px;
}