.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    overflow-x: hidden !important;
    overflow-y: auto;
  }
}
     
.typing {
  margin-right: 2rem;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }
}

.details {
  margin-left: 2rem;
  margin-top: 2rem;
  @media screen and (min-width: 768px) {
    margin-left: 8rem;
    margin-right: 5rem;
  }
}

.details > p {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
}

.check {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.check > accept {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.9rem;
  margin-left: 1rem;
  margin-top: 0;
}

.button {
  margin-bottom: 2rem;
}

.button > button {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
}

.end > span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
}

.accept {
  text-decoration: none;
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 1.9rem;
  color: #616161;
}

/* for the otherside of the flex */

.futures {
  background-color: #fbfbfb;
  padding-left: 2rem;
  width: 100vw;
  @media screen and (min-width: 768px) {
    background-color: #fbfbfb;
    padding-left: 2rem;
    width: 60%;
  }
}
.futures > p:nth-of-type(1) {
  font-weight: 600;
  font-size: 2rem;
  color: #4a4a4a;
  margin-top: 5rem;
  margin-bottom: 2.2rem;

  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 2.4rem;
    color: #4a4a4a;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }
}

.cycle {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.txt {
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-top: 2.5rem;
  display: flex;
  color: #4a4a4a;
}
.svg {
  margin-right: 2rem;
  margin-top: 3rem;
  display: flex;
  color: #2c83c5;
  justify-content: center;
  align-items: center;
}

.contact {
  text-decoration: none;
  padding-top: 3rem;
  @media screen and (min-width: 768px) {
    text-decoration: none;
    margin-top: 30rem;
  }
}
.contact > span {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4a4a4a;
  margin-left: 78px;
}

.link {
  text-decoration: none;
  color: #2f8ed6;
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.select {
  font-size: 1.4rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: 36rem;
  max-height: 200px;
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
  }
}

.selectContainer {
  position: relative;
}
