.sideBarItem {
  margin-top: 2rem;
  margin-left: 3.5rem;
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  color: #333333 !important;
  font-size: 16px;
  font-weight: 600;
  width: 111.6rem;
  overflow-x: hidden;
}
