.cyberpaylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logocontainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  width: 76px;
  background-color: #eaf2f9;
  border-radius: 1.3rem;
  margin-bottom: 4rem;
}

.header > p {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.text > p:nth-child(1) {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3.6rem;
  color: #4a4a4a;
}

.text > span {
  font-weight: 500;
  font-size: 1.6rem;
  color: #4a4a4a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > button {
  text-align: center;
  border-radius: 4.1px;
  padding: 1rem 8rem;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  font-weight: 600;
}
